---
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';
import ProductList from '@/components/products/ProductList.svelte'
import Pagination from '@/components/shared/Pagination.astro';

const {data, error} = await actions.getProductsByPage({})

if(error) {
  return Astro.redirect('/')
}

const {products, totalPages} = data

console.log(products);
---

<MainLayout>
  <h1 class="text-3xl">Listado de Productos</h1>

  <ProductList products={products} client:load />

  <Pagination {totalPages} />

</MainLayout>
